@tailwind base;
@tailwind components;
@tailwind utilities;

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Young Serif', serif;
  font-weight: 300;
}

p,
a,
div,
span {
  font-family: 'Source Serif 4', serif;
  font-weight: 400;
}

button {
  font-family: 'Source Serif 4';
}

/* winter section text css genera  */
.text-gradient {
  position: relative;
  font-size: 4.5rem;
  text-align: center;
  background: linear-gradient(
    90deg,
    #1e2a5e,
    #55679c,
    #1e2a5e
  ); /* Gradient as per the image */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  z-index: 10;
}

.text-gradient::before {
  content: attr(data-text); /* Duplicate the text for the stroke effect */
  position: absolute;
  top: 10;
  left: 0;
  z-index: -1; /* Push the outline behind the gradient text */
  width: 100%;
  height: 100%;
  color: transparent;
  -webkit-text-stroke: 1px #f3f3e0; /* White outline effect */
  text-stroke: 1px #f3f3e0;
}

/* winter collection cerousal button  */
.winter-carousel-button-2 {
  background: rgb(139, 69, 19); /* SaddleBrown */
  background: linear-gradient(
    0deg,
    rgba(139, 69, 19, 1) 0%,
    rgba(160, 82, 45, 1) 100%
  );
  border: none;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  box-shadow: 4px 4px 6px 0 rgba(255, 255, 255, 0.5),
    -4px -4px 6px 0 rgba(116, 125, 136, 0.5),
    inset -4px -4px 6px 0 rgba(255, 255, 255, 0.2),
    inset 4px 4px 6px 0 rgba(0, 0, 0, 0.4);
  transition: all 0.3s ease;
}

.winter-carousel-button-2.active:hover {
  background: linear-gradient(
    0deg,
    rgba(139, 69, 19, 1) 0%,
    rgba(160, 82, 45, 1) 100%
  );
  box-shadow: 4px 4px 6px 0 rgba(255, 255, 255, 0.5),
    -4px -4px 6px 0 rgba(116, 125, 136, 0.5),
    inset -4px -4px 6px 0 rgba(255, 255, 255, 0.2),
    inset 4px 4px 6px 0 rgba(0, 0, 0, 0.4);
}

.winter-carousel-button-2.disabled {
  background: #e0e0e0;
  color: #a8a8a8;
  cursor: not-allowed;
  box-shadow: none;
}

/* general brown 3d deep button  */

.brown-deep-button {
  background: rgb(139, 69, 19); /* SaddleBrown */
  background: linear-gradient(
    0deg,
    rgba(139, 69, 19, 1) 0%,
    rgba(160, 82, 45, 1) 100%
  );
  border: none;
  width: auto;
  padding: 10px 40px;
  color: white;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 5px; /* Makes it rectangular with slightly rounded corners */
  box-shadow: 4px 4px 6px 0 rgba(255, 255, 255, 0.5),
    -4px -4px 6px 0 rgba(116, 125, 136, 0.5),
    inset -4px -4px 6px 0 rgba(255, 255, 255, 0.2),
    inset 4px 4px 6px 0 rgba(0, 0, 0, 0.4);
  transition: all 0.3s ease;
}

.brown-deep-button:hover {
  background: linear-gradient(
    0deg,
    rgb(216, 108, 31) 0%,
    rgb(204, 104, 58) 100%
  );
  box-shadow: 4px 4px 6px 0 rgba(255, 255, 255, 0.5),
    -4px -4px 6px 0 rgba(116, 125, 136, 0.5),
    inset -4px -4px 6px 0 rgba(255, 255, 255, 0.2),
    inset 4px 4px 6px 0 rgba(0, 0, 0, 0.4);
}

.brown-deep-button:disabled {
  background: #e0e0e0;
  color: #a8a8a8;
  cursor: not-allowed;
  box-shadow: none;
}

/* Category selector button for our products section */
.product-button {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  font-weight: 500;
  background: transparent;
  border: 2px solid #8b4513; /* Brown Border */
  color: #8b4513; /* Initial text color */
  cursor: pointer;
  transition: all 0.3s ease;
  overflow: hidden;
  margin-bottom: 10px;
}

/* Hover state */
.product-button:hover {
  color: #8b4513; /* Retain the same color on hover */
}

/* Active button styling */
.product-button.active {
  background: rgba(
    139,
    69,
    19,
    0.2
  ); /* Light brown background with reduced opacity */
  color: #8b4513; /* Retain text color */
}

/* Top-Left Animation */
.product-button:before,
.product-button:after,
.product-button span:before,
.product-button span:after {
  content: '';
  position: absolute;
  background: #8b4513; /* Brown Border Color */
  transition: all 0.3s ease;
}

/* Top-Left Animation */
.product-button:before {
  height: 0%;
  width: 2px;
  top: 0;
  left: 0;
}

.product-button:hover:before {
  height: 100%;
}

.product-button:after {
  width: 0%;
  height: 2px;
  top: 0;
  left: 0;
}

.product-button:hover:after {
  width: 100%;
}

/* Bottom-Right Animation */
.product-button span:before {
  height: 0%;
  width: 2px;
  bottom: 0;
  right: 0;
}

.product-button:hover span:before {
  height: 100%;
}

.product-button span:after {
  width: 0%;
  height: 2px;
  bottom: 0;
  right: 0;
}

.product-button:hover span:after {
  width: 100%;
}
